{% extends 'base.html' %}
{% block title %} welcome to MyBlog {% endblock %}
{% block css %}
     
{% endblock %}

{% block body %}
    <div class="container ">
        <div class="row">
            <div class="col s12 m8 ">

                {% for p in post %}

                <div class="row border border-secondary " style="margin-top: 20px; border-radius: 20px;padding: 40px;">
                    <div class="col s12 m8">
                        {{p.content |truncatewords:60 | safe }}
                        <div style="margin-top: 10px;">
                            <button type="button" class="btn btn-success"><a class="navbar-brand"
                                    href="/Blogging/{{p.url}}">Read More</a></button>
                        </div>
                    </div>
                    <div class="col s12 m4">
                        <img src="/media/{{p.image}} " class="img-fluid" alt="">
                    </div>

                </div>
                {%endfor%}
            </div>
            </div>
            </div>
        {% endblock %}


        